.container{
    max-width: 1266px;
    padding:0;
}
.btn-yellow{
    background-color: #ffc400;
    color:black;
    height:40px;
    border:none;
}
button{
    outline:none !important;
}
.custom-checkbox{
    height:16px;
    width:16px;
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.custom-checkbox:checked {
    border: 1px solid orange;
    background-color: yellow;
}
 input::placeholder{
    color:#CBCBCB;
}
a{
    text-decoration: none;
}